{% load static %}
<!-- Footer -->
<footer>
    

    <div class="container">
      <div class="foot-up">
        <div class="row">
          <div class="col-sm-3 padding-right-50"> <img width="120px" height="120px" src="{% static 'images/logo2.png' %}" alt=""> </div>
          <div class="col-sm-9">
            <div class="pos-info">
              <ul class="row">
                <li class="col-sm-12"> 
                    <h5>Teef Khader Alzulfi 3950489</h5>
                    <h5>Alanoud Saleh Alakhdar 3951671</h5>
                    <h5>Raghad Alaa Hafiz3951036</h5>
                    <h5>Khadijah Tariq Fairaq3952984</h5>
                    <h5>Shiyma Muslim Arehliy3950523</h5>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="foot-down">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-left">
            <p>2022 © Taibah University</p>
          </div>
          <div class="col-sm-6 text-right">
            <p>Dr.Ghada F Alharbi</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer --> 